.intro {
    padding: 50px 0 180px;
    position: relative;
    @media (max-width: $screen-md2) {
        padding: 50px 0 0;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 0.5s ease-out 0.3s;
        &._active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &__images {
        position: relative;
        width: 100%;
        @media (max-width: $screen-md2) {
            display: none;
        }
        @media (min-width: $screen-md2) {
            max-width: 35%;
        }
        @media (min-width: $screen-lg) {
            max-width: 45%;
        }
    }
    &__img {
        &--one {
            width: 100%;
            max-width: 400px !important;
        }
        &--two {
            position: absolute;
            max-width: 260px !important;
            top: 30%;
            right: -35px;
            @media (min-width: $screen-lg) {
                max-width: 320px !important;
            }
        }
    }
    &__body {
        max-width: 46%;
        width: 100%;
        @media (max-width: $screen-md2) {
            max-width: 100%;
            text-align: center;
        }
        @media (min-width: $screen-md2) {
            max-width: 55%;
        }
        @media (min-width: $screen-lg) {
            max-width: 50%;
        }
        @media (min-width: $screen-xl) {
            max-width: 46%;
        }
    }

    &__caption {
        padding-bottom: 12px;
    }

    &__title {
        font-size: 32px;
        line-height: 48px;
        @media (min-width: $screen-sm) {
            font-size: 43px;
            line-height: 65px;
        }
        @media (min-width: $screen-md3) {
            font-size: 55px;
            line-height: 72px;
        }
        @media (min-width: $screen-lg) {
            font-size: 60px;
        }
        span {
            margin-left: 20px;
        }
    }
    &__text {
        margin-top: 20px;
    }
    &__btn {
        margin-top: 50px;
    }
}
// Find Travel Section -----------------------------
.find-travel {
    text-align: center;
    background: #fff;
    padding: 140px 0 70px;
    &__inner {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
        transition: all 0.5s ease-out 0.3s;
        &._active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    @media (min-width: $screen-xl) {
        padding: 192px 0 120px;
    }
    &__title {
        padding-top: 10px;
    }

    &__subtitle {
        max-width: 568px;
        margin: 20px auto 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-top: 70px;
        @media (max-width: $screen-xl) {
            justify-content: space-evenly;
        }
    }

    &__card {
        transition: all 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                transform: translate3d(0, -10%, 0);
            }
        }
    }
}

.card-find-travel {
    background: #ffffff;
    border: 2px solid #f8f8f8;
    padding: 70px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 370px;

    -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
    @media (max-width: $screen-xl) {
        max-width: 45%;
        margin-bottom: 30px;
    }
    @media (max-width: $screen-md2) {
        max-width: 100%;
        margin-bottom: 40px;
    }
    @media (max-width: $screen-md3) {
        padding: 40px 15px;
    }
    &__icon {
        margin: 0 auto;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #002248;
        margin: 40px 0 20px;
    }
}

// Location Section --------------------------------
.location-block {
    padding: 60px 0;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: all 0.5s ease;
    &._active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    @media (min-width: $screen-md3) {
        text-align: left;
    }
    @media (min-width: $screen-md1) {
        padding: 120px 0;
    }
    &__title {
        margin: 10px 0 20px;
    }

    &__subtitle {
        @media (min-width: $screen-md3) {
            max-width: 70%;
        }
        @media (min-width: $screen-lg) {
            max-width: 50%;
        }
    }

    &__body {
        margin-top: 71px;
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: all 0.5s ease 0.4s;
        &._active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

// Take A Tour Section -----------------------------
.take-a-tour {
    width: 100%;
    background: #fff;

    opacity: 0;
    transform: translate3d(-20%, 0, 0);
    transition: all 0.8s ease 0.3s;
    &._active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    @media (min-width: $screen-md2) {
        max-height: 690px;
        height: 100%;
    }
    &__inner {
        position: relative;
        max-width: 2800px;
        margin: 0 auto;
    }
    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $screen-md2) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            height: 100%;
        }
        @media (max-width: $screen-md2) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: -50%;
        }
    }

    &__bg {
        height: 100%;
        top: 0;
        transition: all 0.3s linear;
        &--1 {
            left: 0;
            @media (min-width: 1920px) {
                img {
                    border-radius: 45%;
                }
            }
        }
        &--2 {
            left: 30%;
            z-index: 1;
            position: absolute;
            @media (min-width: 1920px) {
                left: 20%;
            }
            @media (max-width: $screen-md2) {
                display: none !important;
            }
        }
    }

    &__play-video {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 21px;
        border-radius: 50%;

        width: fit-content;
        animation: radial-pulse 2s infinite;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        @media (max-width: $screen-md2) {
            margin: 0 auto;
        }
    }
    @keyframes radial-pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
        }
        100% {
            box-shadow: 0 0 0 21px rgba(255, 255, 255, 0);
        }
    }
    &__video-btn {
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 78px;
        height: 78px;
        padding-left: 10px;

        cursor: pointer;
    }
    &__col {
        width: 100%;
        position: relative;
        &--left {
            @media (min-width: $screen-md2) {
                max-width: 20%;
                margin-left: 12%;
            }
        }
        &--right {
            @media (min-width: $screen-md2) {
                max-width: 40%;
                flex-direction: column;
                justify-content: center;
            }
            @media (min-width: 1920px) {
                max-width: 50%;
            }
        }
    }
    &__body {
        margin-top: 10%;
        padding: 15px 10px 20px;
        background: #fff;
        @media (min-width: $screen-md2) {
            position: relative;
            z-index: 3;
            max-width: 85%;
            margin-left: 10px;
            margin-top: 0;
            padding: 0;
            background: none;
        }
    }
    &__title {
        @media (max-width: $screen-md1) {
            font-size: 32px;
            line-height: 40px;
        }
    }
    &__text {
        padding-top: 10px;
        @media (min-width: $screen-md1) {
            padding-top: 20px;
        }
    }
    &__btn {
        margin-top: 24px;
        @media (min-width: $screen-md1) {
            margin-top: 50px;
        }
    }
    &__compass {
        max-width: 158px !important;
        position: absolute;
        right: 35%;
        z-index: 5;
        bottom: -83px;
        @media (max-width: $screen-md1) {
            display: none !important;
        }
    }
    &__bg-rectangle {
        max-width: 310px !important;
        width: 100%;
        position: absolute;
        right: 5%;
        z-index: 5;
        bottom: -10%;
    }
}

// About Us Section --------------------------------
.about-us {
    background: #fff;
    padding: 120px 0 60px;
    @media (min-width: $screen-md2) {
        padding: 120px 0;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        max-width: 46%;
        width: 100%;
        @media (max-width: $screen-md2) {
            max-width: 100%;
            text-align: center;
        }
        @media (min-width: $screen-md2) {
            max-width: 55%;
        }
        @media (min-width: $screen-lg) {
            max-width: 50%;
        }
        @media (min-width: $screen-xl) {
            max-width: 509px;
        }
        opacity: 0;
        transform: translate3d(0, 40px, 0);
        transition: all 0.8s ease 0s;
        &._active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    &__title {
        margin-top: 10px;
    }
    &__text {
        padding-top: 20px;
    }
    &__achievements {
        margin-top: 50px;
        @media (min-width: $screen-md2) {
            max-width: 60%;
        }
        opacity: 0;
        transform: translate3d(0, 40px, 0);
        &._active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 0.8s ease 0.3s;
        }
    }

    &__images {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media (max-width: $screen-md2) {
            display: none;
        }
        @media (min-width: $screen-md2) {
            max-width: 35%;
        }
        @media (min-width: $screen-lg) {
            max-width: 45%;
        }
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1.3s;
        }
    }

    &__img {
        &--one {
            width: 100%;
            max-width: 400px !important;
        }
        &--two {
            position: absolute;
            max-width: 260px !important;
            top: 33%;
            left: -35px;
            @media (min-width: $screen-lg) {
                max-width: 320px !important;
            }
        }
    }
}
.achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
        width: 100%;
        max-width: 48%;
        margin-bottom: 26px;
        text-align: center;
        height: 130px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #f8f8f8;
        border-radius: 10px;

        @media (min-width: $screen-sm) {
            max-width: 23%;
        }
        @media (min-width: $screen-md2) {
            max-width: 48%;
        }
    }

    &__score {
        font-family: "Eksell-Display", sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 34px;
        color: #3685fb;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #002248;
        padding-top: 5px;
    }
}

// Testimonials Section ----------------------------
.testimonials {
    text-align: center;
    padding: 120px 0 110px;
    @media (max-width: $screen-md3) {
        padding: 60px 0 70px;
    }

    &__text {
        max-width: 583px;
        width: 100%;
        margin: 20px auto 0;
    }
    &__inner {
        margin-top: 30px;
        position: relative;
    }
    &__bg {
        width: 100%;
        @media (max-width: $screen-md3) {
            display: none !important;
        }
    }
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: $screen-md3) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
    &__slider {
        max-width: 500px;
        width: 100%;
        min-height: 230px;
        background: #fff;
        border-radius: 10px;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1.8s;
        }
    }
}
.testimonials-icon {
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 60px;
    @media (max-width: $screen-lg) {
        display: none !important;
    }
    &--1 {
        top: 8%;
        left: 17%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 0.2s;
        }
    }
    &--2 {
        width: 100px;
        height: 100px;
        top: 3%;
        left: 50%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 0.4s;
        }
    }
    &--3 {
        top: 18%;
        right: 18%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 0.6s;
        }
    }
    &--4 {
        width: 50px;
        height: 50px;
        top: 30%;
        left: 21%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 0.8s;
        }
    }
    &--5 {
        width: 50px;
        height: 50px;
        top: 39%;
        right: 8%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1s;
        }
    }
    &--6 {
        top: 45%;
        left: 7%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1.2s;
        }
    }
    &--7 {
        top: 60%;
        right: 15%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1.4s;
        }
    }
    &--8 {
        top: 70%;
        left: 18%;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: opacity 0.8s ease 1.6s;
        }
    }
}

// Social Feed Section -----------------------------
.social-feed {
    background: #fff;
    padding: 120px 0 100px;
    @media (max-width: $screen-md1) {
        padding: 60px 0 50px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $screen-md2) {
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }
    }

    &__titles {
        @media (min-width: $screen-md2) {
            max-width: 460px;
        }
    }

    &__caption {
    }

    &__title {
        padding-top: 10px;
    }

    &__btn {
        @media (max-width: $screen-md2) {
            margin-top: 20px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider {
        margin-top: 50px;
    }
    &__item {
        min-width: 180px;
        max-width: 310px;
        margin: 0 25px;

        @media (max-width: $screen-md2) {
            margin: 0 10px;
        }
        // &:nth-child(2n + 1) {
        //     img {
        //         border-radius: 570px;
        //     }
        // }
        // &:nth-child(2n) {
        //     img {
        //         border-radius: 10px;
        //     }
        // }
        img {
            border-radius: 570px;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }
}

// Contact Us Section
.contact-us {
    padding: 50px 15px;
    background: #fff;
    &__inner {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        padding: 20px 30px;
        border-radius: 40px;
        background: #f3f8ff;
        @media (min-width: $screen-md1) {
            padding: 20px 50px 0 80px;
        }
    }

    &__body {
        max-width: 45%;
        @media (max-width: $screen-md3) {
            max-width: 100%;
            text-align: center;
        }
    }

    &__caption {
    }

    &__title {
        font-size: 52px;
        line-height: 60px;
        @media (max-width: $screen-xs) {
            font-size: 36px;
            line-height: 39px;
            padding-top: 10px;
        }
    }

    &__btn {
        display: block;
        width: fit-content;
        margin-top: 30px;
        @media (max-width: $screen-md3) {
            margin: 30px auto;
        }
    }

    &__img {
        max-width: 45% !important;
        @media (max-width: $screen-md3) {
            display: none !important;
        }
    }
}
