@media (max-width: $screen-md2) {
    .menu-icon {
        z-index: 5;
        display: block;
        position: absolute;
        right: 20px;
        top: 28px;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        border-radius: 20px;
    }
    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }
    .menu-icon::before {
        background: #3685fb;
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
        background: #00b3a0;
    }
    .menu-icon span {
        top: 50%;
        background: #002248;
        transform: scale(1) translate(0px, -50%);
    }

    .menu-icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu-icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
